<div class="card filters">
    <div class="card-body">
        <div class="card-header"><strong>Filters</strong></div>
        <form>
            <div class="form-group">
                <label for="From">From</label>
                <input type="number" id="from" class="form-control">
            </div>

            <div class="form-group">
                <label for="to">To</label>
                <input type="number" id="to" class="form-control">
            </div>
            <br>
            <button type="button" class="btn btn-success btn-sm">Filter by price</button> </form>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h6>Filter by Category</h6>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Forklift </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Cranes </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Generators </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Compressors </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Loaders </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">Pumps</label>

        </div>
    </div>
</div>